<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/portfolio">PORTFOLIO</a></li>
        <li><a href="/pricing">PRICING</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div id="footer">
        {% block footer %}
           <footer class="container-fluid text-center">
              <a href="#myPage" title="To Top">
                     <span class="glyphicon glyphicon-chevron-up"></span>
              </a>
            <p>Bootstrap Theme Made By <a href="http://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
            &copy; Copyright 2016 by <a href="http://domain.invalid/">you</a>.
           </footer>
        {% endblock %}
    </div>
</body>
</html>
~