{% extends "base.template" %}
{% block title %}
Favio's Mom About Us Page
{% endblock %}
{% block content %}
   <div class="jumbotron text-center">
      <h1>About Page TODO</h1>
   </div>
        {% endblock %}
