{% extends "base.template" %}
{% block title %}
Favio's Mom Admin Page
{% endblock %}
{% block content %}
   <div class="jumbotron text-center">
      <h1>Admin Page TODO</h1>
   </div>
<ul class="admin_functions">
    <li><a href="/admin/loaddatabase">Load Database</a></li>
</ul>
        {% endblock %}
