<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="icon" type="x-icon" href="/favicon.ico"/>
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block byline %}
    <meta name="author" content="Favio's Mom">
    {% endblock %}
    {% block meta %}
    <meta name="description" content="Cuban Cuisine Catering, Cuban Sandwiches, Frijolles Negros, Tostones">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
   <!-- Part 1: Wrap all page content here -->
<div id="wrap">
    <div id="content">{% block content %}{% endblock %}</div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="img-responsive" src="/images/logo_495x609.png" width="150px" height="200px" alt="Logo"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/order">ORDER</a></li>
        <li><a href="/pricing">PRICING</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
{% block footer %}

    <div id="footer" class="navbar-bottom">
         <div class="container">
           <footer class="container-fluid text-center" >
              <a href="#myPage" title="To Top">
                     <span class="glyphicon glyphicon-chevron-up"></span>
              </a>
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal" />
            <p>Bootstrap Theme Made By <a href="http://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
            &copy; Copyright 2016 by <a href="http://faviosmom.com/">Favio's Mom</a>.


           </footer>
    </div>
   </div>
{% endblock %}
</body>
</html>
