{% extends "base.template" %}
{% block title %}
Favio's Mom Contact Us Page
{% endblock %}
{% block content %}
   <div class="jumbotron text-center">
      <h1>Contact Page TODO</h1>
   </div>
        {% endblock %}
