{% extends "/templates/base.template" %}
{% block title %}
Favio's Mom Menu Page
{% endblock %}
{% block content %}


   <div class="jumbotron text-center">
      <h1>Menu Page TODO</h1>
   </div>
        {% endblock %}
