{% extends "base.template" %}
{% block title %}
Favio's Mom Menu Page
{% endblock %}
{% block content %}


   <div class="jumbotron text-center">
      <h1>Menu Page TODO</h1>
      <ul id="menu">
      {% for key, item in menuitems.iteritems() %}
        <li><a href="{{ item.long_description }}">{{ item.short_description }}</a></li>
      {% endfor %}
      </ul>
   </div>
        {% endblock %}
