{% extends "base.template" %}
{% block title %}
Favio's Mom Order Page
{% endblock %}
{% block content %}

   <div class="jumbotron text-center">
      <h1>Order Page TODO</h1>
   </div>
        {% endblock %}
