{% extends "base.template" %}
{% block title %}
Favio's Mom Pricing Page
{% endblock %}
{% block content %}
   <div class="jumbotron text-center">
      <h1>Pricing Page TODO</h1>
   </div>
        {% endblock %}
